body {
    font-family: 'Lato', sans-serif;
    -ms-box-sizing: border-box
    box-sizing: border-box
}

.row {
    display: block;
    width: 100%;
}

.col-4 {
    width:33.32%;
}

.inline {
    display: flex;
}